/*
    margin is zero because of that navbar sticks just on the top of th website
*/
body {
    margin: 0;
}

/*
    this part is for setting the place and color of the navigation bar
*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7cd653;
    top: 0;
    width: 100%;
    display: inline-block;
    position: fixed;
}

div.container {
    position: relative;
    margin-top: 60px;
}

/*
    float left is for ordering options from left
    inline display is for showing links in on line
*/
ul.navbar li {
    display: inline;
    float: left;
}

/*
    this part is for about option of the navbar
*/
ul.navbar li.about {
    float: right;
}


/*
    this part configures the text color, cancellng text decoration, display, and padding of each option of the nav bar
*/
ul.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*
    when the cursor hovers on one of the options of nav bar, the color becomes dark green
*/
ul.navbar li a:hover {
    background-color: lightblue;
}

ul.navbar li a.activePage {
    background-color: dimgrey;
    color: white;
}

@media screen and (max-width: 600px) {
  ul.navbar li.about, 
  ul.navbar li {float: none;}
  div.container {margin-top: 200px;}

}

/*
    this part is for aligning the label of the textarea on top of the box
*/
textarea#about {
    vertical-align: top;
}

/*
    this part is for centering and decrease the width of form
*/
fieldset.pishgamanFormFieldset {
    display: inline-block;
    min-width: auto;
}