/*
    margin is zero because of that 
*/
body {
    margin: 0;
}

/*
    this part is for setting the place and color of the navigation bar
*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7cd653;
    top: 0;
    width: 100%;
    display: block;
}

/*
    float left is for ordering options from left
*/
ul.navbar li {
    float: left;
}


/*
    this part configures the text color, cancellng text decoration, display, and padding of each option of the nav bar
*/
ul.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*
    when the cursor hovers on one of the options of nav bar, the color becomes dark green
*/
ul.navbar li a:hover {
    background-color: #49693a;
}

/*
    this part is for aligning the label of the textarea on top of the box
*/
textarea#about {
    vertical-align: top;
}